/* h1{
    /* text-align: center; */
    color: red;
} */





/* #conform {
    width: 80%;
    /* background-color: yellow; */
    margin: auto;
} */


/* #confrom input[type="text"],input[type="email"],input[type="number"],input[type="date"]{
   height: 40px;
   width: 100%;
   margin-bottom: 30px;
   margin-top: 10px;
   outline: none;
   border-radius: 5px;
} */





