h1{
    color: red;
    text-align: center;
}
/*  id selector */
#idselector{
    color: blue;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-transform: capitalize;
}

#two{
    color: yellow;
    letter-spacing: 0;
    word-spacing: 0px;
    text-transform: capitalize;    
}

/*  class selector */
.classselector{
    color: orange;
    letter-spacing: 2;
    word-spacing: 5px;
    text-transform: capitalize;     
}

/*  Child Selector */
#child > a{
    color: yellow;
    letter-spacing: 0;
}

#childd >span > a{
    color: yellow;
    letter-spacing: 5;
}


/*  Descendend Selector */
#desc a{
    color: yellow;
    letter-spacing: 0;
}

 Pseudo selector */  /* Underline in a tag -link */
 a:link{
    text-decoration: none;
    letter-spacing: 1px;
}
/* a:hover{
    color: rgb(3, 1, 24);
}
a:active{
    color: yellow;
    font-size: 30px;   
}
a:visited{
    color: red;
} */

:target{
    color: rgb(208, 241, 97);
    text-transform: uppercase;
    line-height: 20px;
}
/*  border */
.borderone{
    border: 20px double yellow ;   
}
.bordertwo{
    border-top: 20px solid orange ;
}
.bordertree{
    /* border-style: dotted; */
    /* all */
    /* broder-style= dotted solid; */
    /* T&B / L&R */
    border-style: solid dotted double;
    /* T / L&R / B */
    /* border-style: solid dashed double dotted; */
    /* T / R / B / L  */
}
.borderfour{
    border-style: solid;
    border-color: red yellow green brown;
    border-width: 30px 50px 100px;
}
/* margin */
*{
    margin: 0px;
    padding: 0px;   
}
.marginone{
   margin: 50px 100px;
   border: 1px solid black;
}
.margintwo{
   margin: 50px;
   border: 1px solid black;
}

/* Padding */
.paddingone{
    /* padding: 10px 200px; */
    border: 1px solid black;
    padding-top: 200px ;
}

/* layout */

.inline{
    border: 2px solid red;
    width: 400px;
    display: inline-block;
}
.block{
    border: 2px solid red;
    width: 400px;
    display: inline-block;   
}



/* Float */
.Float_left img{
    width: 20%;
    border: 2px solid black;
    float: left;
}
.clear {
    clear: both;
}

.Float_right img{
    width: 20%;
    border: 30% solid black;
    float: right;
}
.clear {
    clear: both;
}

/* Grid */

.gridone div, .gridtwo div, .gridtree div, .gridfour div, .gridfive div, .gridsix div{
    padding: 30px;
    color: white;
    text-align: center;
}
.gridone, .gridtwo, .gridtree, .gridfour, .gridfive, .gridsix{
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridtwo{
   grid-column-gap: 10px;
}

.gridtree{
    grid-row-gap: 10px;
}

.gridfour{
    grid-gap: 40px;
    /* grid-column-gap: 40px; */
    /* grid-row-gap: 60px; */
}
.columnadd{
    grid-column-start: 1;
    grid-column-end: 4;
}
.rowadd{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
}
/* Position */

.position_relative_parent{
    border: 2px solid black;
    width: 1000px;
    height: 500px;
}
.position_relative{
    border: 2px solid red;
    width: 600px;
    height: 300px;  
    position: relative;
    top: 50px;
    left: 100px;  
}

.position_absolute_parcent{
    border: 2px solid brown;
    width: 1000px;
    height: 500px; 
    position: relative;  
}
.position_absolute{
    border: 2px solid green;
    width: 600px;
    height: 300px;  
    position: absolute;
    top: 50px;
    left: 50px;     
}
.fixed{
    position: fixed;
    top: 100px;
    left: 50px;
}
/* online_font */

.online_font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Offline Font  */


/* @font-face {
    src: url(../fonttt/Dancing_Script/static/DancingScript-Medium.ttf)
    font-family: "Oswalt"
} */

@font-face {
    src: url(../fonttt/Dancing_Script/static/DancingScript-Medium.ttf );
    font-family: "Dancing Script";
}
.offline_font{
    font-family: "Dancing Script";
}

/* ------------------------------------------------------------- */
@font-face {
    font-family: "static";
    src: url(../fonttt/static/DancingScript-Medium.ttf);
}

.offlinetwo{
    font-family: "static", cursive ;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/* ------------------------------------------------------------- */

/* media css  */

/* phone size */
@media (max-width:600px){
   body{
    background-color: blue;
   }
}
/* Tablet size */ 
@media (min-width:601px) and (max-width:900px){
   body{
    background-color: orange;
   }
}
/* Laptop Tablet size */ 
@media (min-width:901px) and (max-width:1200px){
   body{
    background-color: yellow;
   }
}
/* Laptop size */ 
@media (min-width:1201px){
   body{
    background-color: Green;
   }
}