h1{
    /* color: red; keyword */
    /* 0->9->0->f */ 
    /* color: #d55e5e; HEX Code */
    /* 0-> 255 */
    color: rgb(10%, 10%, 100%);
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}
/* universil selector */
*{
    letter-spacing: 20px;
    margin: 0px;
    padding: 0px;    
}
/*  tag/element selector */
p{
    font-size: 50px;

}
/*  attribute selector */
input[type="text"]{
    color: blue;
    letter-spacing: 0px;
}
input[type="number"]{
    color: black;
    letter-spacing: 0px;
}
a[title="google"]{
    color: yellow;
}

